@import "../../styles";

.task-list {
  display: flex;
  flex-direction: column;

  padding: 20px 20px 0 20px;
}

.input-container {
  display: flex;
  border: 1px solid $dark-blue;
  border-radius: 4px;
  overflow: hidden;
}

input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
}

button {
  padding: 8px 12px;
  background-color: $brown;
  color: #fff;
  border: none;
  cursor: pointer;
  font-weight: bold;

  &:hover {
    background-color: $dark-orange;
    color: $dark-blue;
  }
}
