@import "../../styles";

.task-item {
  font-size: 2rem!important;
  text-align: start;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid $brown;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox-wrapper {
  --size: 2rem;
  --background: $light-color;
  font-size: 1.7rem;

  .checkbox-edit {
    padding: 8px;
    border: none;
    outline: none;
    text-decoration: none;
  }
}

.checkbox-wrapper *,
.checkbox-wrapper *::after,
.checkbox-wrapper *::before {
  box-sizing: border-box;
}

.checkbox-wrapper input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.checkbox-wrapper .checkbox-label {
  margin-left: calc(var(--size) * 1.5);
}

.checkbox-wrapper .checkbox-label:before {
  content: ' ';
  display: block;
  height: var(--size);
  width: var(--size);
  position: absolute;
  top: calc(var(--size) * 0.125);
  left: 0;
  background: var(--background);
}

.checkbox-wrapper .checkbox-label:after {
  content: ' ';
  display: block;
  height: var(--size);
  width: var(--size);
  border: calc(var(--size) * .14) solid #000;
  transition: 200ms;
  position: absolute;
  top: calc(var(--size) * 0.125);
  left: 0;
  background: var(--background);
}

.checkbox-wrapper .checkbox-label:after {
  transition: 100ms ease-in-out;
}

.checkbox-wrapper .checkbox-input:checked ~ .checkbox-label:after {
  border-top-style: none;
  border-right-style: none;
  -ms-transform: rotate(-45deg); /* IE9 */
  transform: rotate(-45deg);
  height: calc(var(--size) * .5);
  border-color: seagreen;
}

.checkbox-wrapper .checkbox {
  position: relative;
  display: flex;
  cursor: pointer;
  /* Mobile Safari: */
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.checkbox-wrapper .checkbox-label:after:hover,
.checkbox-wrapper .checkbox-label:after:active {
  border-color: seagreen;
}

.checkbox-wrapper .checkbox-label {
  margin-right: calc(var(--size) * 0.45);
}

.options {
  display: flex;
  flex-direction: row;

  i {
    &:hover {
      cursor: pointer;
      color: seagreen;
    }
    &:first-child {
      margin-right: 10px;

      &:hover {
        color: darkred;
      }
    }
  }
}

.text-strikethrough {
  text-decoration: line-through;
}
