<div>

  <div *ngIf="!editing" class="task-item">
    <div class="checkbox-wrapper">
      <label class="checkbox">
        <input type="checkbox" class="checkbox-input" [checked]="task.done" (click)="toggleDone()"/>
        <span class="checkbox-label" [ngClass]="{'text-strikethrough': task.done}">{{ task.title }}</span>
      </label>
    </div>

    <div class="options">
      <i class="fa fa-trash" (click)="removeTask()"></i>

      <i class="fa fa-pencil" (click)="editingTask()"></i>
    </div>
  </div>

  <div *ngIf="editing" class="task-item">
    <div class="checkbox-wrapper">
      <label class="checkbox">
        <input type="checkbox" [checked]="task.done" (click)="toggleDone()"/>
        <input
          #editedTask
          type="text"
          class="checkbox-label checkbox-edit"
          [ngClass]="{'text-strikethrough': task.done}"
          [value]="task.title"
        />
      </label>
    </div>

    <div class="options">
      <i class="fa fa-times" (click)="cancelEdit()"></i>

      <i class="fa fa-check" (click)="confirmEdit(editedTask.value)"></i>
    </div>
  </div>


</div>
